/********HELPERS *******/
.black {
    color: black
}

.white {
    color: white;
}
//Blue-gradient
.bg-blue {
    background-image: -moz-linear-gradient( -135deg, rgb(180,211,211) 0%, rgb(217,231,231) 100%);
    background-image: -webkit-linear-gradient( -135deg, rgb(180,211,211) 0%, rgb(217,231,231) 100%);
    background-image: -ms-linear-gradient( -135deg, rgb(180,211,211) 0%, rgb(217,231,231) 100%);
   
  }
  .center {
      text-align: center;
  }
//put this on float container to clear after
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }